{% macro unfold_result(type) -%}
{{ type.cpp_type + ' ' if type else 'void ' }}
{%- endmacro %}

{% macro unfold_result_ts(type) -%}
{{ type.ts_type if type else 'void' }}
{%- endmacro %}

{% macro unfold_argument_ts(arg, with_name=True) -%}
{{ arg.name if with_name }}: {{ arg.ts_type }}
{%- endmacro %}

{% macro unfold_argument(arg, with_name=True, const=True) -%}
{{ 'const ' if const }}{{ arg.cpp_type }}{{ '&' if arg.pass_by_reference }}{% if with_name %} {{ arg.name }}{% endif %}
{%- endmacro %}

{% macro unfold_arguments(args, with_names=True, const=True) -%}
(
{%- for arg in args -%}
{{ unfold_argument(arg, with_names, const) }}{{ ', ' if not loop.last }}
{%- endfor -%}
)
{%- endmacro %}

{% macro unfold_arguments_ts(args, with_names=True) -%}
{%- for arg in args -%}
{{ unfold_argument_ts(arg, with_names) }}{{ ', ' if not loop.last }}
{%- endfor -%}
{%- endmacro %}

{% macro unfold_arguments_as_dict_ts(args) -%}
{
{%- for arg in args -%}
{{ arg.name }}{{ ', ' if not loop.last}}
{%- endfor -%}
}
{%- endmacro %}

{% macro unfold_arguments_from_dict_ts(args, dict_name) -%}
{%- for arg in args -%}
{{ dict_name}}.{{ arg.name }}{{ ', ' if not loop.last}}
{%- endfor -%}
{%- endmacro %}

{% macro list_json_types(json_type) -%}
{% if json_type is iterable and json_type is not string -%}
{
{%- for type in json_type -%}
"{{ type }}"{{ ', ' if not loop.last}}
{%- endfor -%}
}
{%- else -%}
{"{{ json_type }}"}
{%- endif %}
{%- endmacro %}

{% macro insert_block(block, indent=0) %}
{{ block.tag }}
{{ " "*indent if block.first_use }}{{ block.content }}
{{ " "*indent }}{{ block.tag }}
{%- endmacro %}

{% macro print_spdx_line(license, year_tag=None) %}
// SPDX-License-Identifier: {{ license }}
// Copyright{% if year_tag %} {{ year_tag }}{% endif %} Pionix GmbH and Contributors to EVerest
{%- endmacro %}


{% macro print_template_info(version, title='DO NOT EDIT!', comment_sep='//') %}
{{ comment_sep }}
{{ comment_sep }} AUTO GENERATED - {{ title|upper }}
{{ comment_sep }} template version {{ version }}
{{ comment_sep }}
{%- endmacro %}
