{% from "helper_macros.j2" import print_template_info, var_to_cpp, print_spdx_line %}
{{ print_spdx_line('Apache-2.0') }}
{{ print_template_info('4') }}

#include <generated/module/{{ info.name }}.hpp>

#include <everest/utils/module_adapter.hpp>

namespace intf = everest::interface;

{% if configs %}
static module::Configs setup_configs(const everest::ModuleConfigs& module_configs) {
    module::Configs c;

    {% for impl in configs.implementations %}
    {% for item in impl.config %}
    c.implementations.{{ impl.id }}.{{ item.name }} = boost::get<{{ item.cpp_type }}>(module_configs.at("{{ impl.id }}").at("{{ item.name }}"));
    {% endfor %}

    {% endfor %}
    {% for item in configs.module %}
    c.module.{{ item.name }} = boost::get<{{ item.cpp_type }}>(module_configs.at("!module").at("{{ item.name }}"));
    {% endfor %}

    return c;
}

{% endif %}
namespace module {

void load(int argc, char* argv[], ModuleBase& module) {

    auto ma_ctx = everest::instanciate_module(argc, argv);
    
    {% if configs %}
    auto configs = setup_configs(ma_ctx.module_configs);
    {% endif %}

    const auto& cxns = ma_ctx.connections;
    {% for req in requires %}
    everest::RequirementHelper<intf::{{ req.type }}::BootRequirement, intf::{{ req.type }}::RunRequirement> r_{{ req.id }}(ma_ctx.ev);
    for (size_t idx = 0; idx < cxns.at("{{ req.id }}").size(); ++idx) {
        r_{{ req.id }}.add({"{{ req.id }}", idx }, cxns.at("{{ req.id }}")[idx].at("module_id"));
    }

    {% endfor %}

    BootContext boot_ctx {
        {% if configs %}
        configs,
        {% endif %}
        {% for req in requires %}
        r_{{ req.id }}.boot_requirements{{ '[0]' if not req.is_vector }},
        {% endfor %}
        ma_ctx.info,
    };

    auto impls = module.mod_init(boot_ctx);

    RunContext ctx {
        {% if configs %}
        configs,
        {% endif %}
        {% for req in requires %}
        r_{{ req.id }}.run_requirements{{ '[0]' if not req.is_vector }},
        {% endfor %}
        {% for impl in provides %}
        intf::{{ impl.type }}::Publishers(ma_ctx.ev, "{{ impl.id }}"),
        {% endfor %}
        ma_ctx.info,
    };

    {% for impl in provides %}
    impls.{{ impl.id }}.do_register(ma_ctx.ev, &ctx.impl_{{ impl.id }});
    {% endfor %}

    everest::connect_module(ma_ctx.ev, [&ctx, &module](){
        module.mod_ready(ctx);
    });
}

}
