list (APPEND MODULE_REQUIRES
    {% for req in requires|sort %}
    {{ req }}
    {% endfor %}
)

list (APPEND MODULE_IMPLEMENTS
    {% for impl in implements|sort %}
    {{ impl }}
    {% endfor %}
)
