list (APPEND MODULE_REQUIREMENTS
    {% for req in requires %}
    {{ req.type }}
    {% endfor %}
)

list (APPEND MODULE_PROVIDES
    {% for impl in provides %}
    {{ impl.type }}
    {% endfor %}
)
